.donate ::placeholder{
    color: black;
    opacity: 1;
}

.donate{
    height: inherit;
    padding: 9vw;
    color: black;
}

.donate-container{
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: auto;
    grid-column-gap: 0px;
}

.donate-image{
    background-image: url(../img/hero2.jpg);
    background-size: cover;
    grid-column: 1;
    grid-row: 1;
}

.donate-head{
    font-size: 26px;
    width: 30vw;
    margin-left: 20px;
}

.donate-form{
    background-color: darkred;
    padding: 20px;
    grid-column: 2;
    grid-row: 1;
}

.donate-form input{
    display: block;
    margin-top: 10px;
    height: 30px;
    padding: 5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.donate button{
    display: block;
    margin-top: 10px;
    height: 45px;
    padding: 10px 20px;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: white;
}

@media only screen and (max-width:700px){
    
    .donate-container{
        grid-template-columns: 80vw;
        grid-template-rows: auto;
        justify-content: center;
    }

    .donate-image{
        background-image: url(../img/hero2.jpg);
        background-size: cover;
        grid-column: 1;
        grid-row: 1;
        height: 400px;
    }

    .donate-form{
        padding: 20px;
        grid-column: 1;
        grid-row: 2;
    }
    
    .donate-head{
        font-size: 23px;
        width: 60vw;
        margin-left: 17px;
    }
}

@media only screen and (max-width:420px){
    
    .donate{
        padding: 4vw;
    }
    
    .donate-container{
        grid-template-columns: 90vw;
    }
    .donate-image{
        height: 350px;
    }
}