*{
    box-sizing: border-box;
    -webkit-appearance:none;
    -moz-appearance:none;
}

html, 
body{
    padding: 0px;
    margin: 0px;
    font-family: 'lora', 'dosis', sans-serif;
    color: black;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: inherit;
}

.alert{
    height: inherit;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px;
    list-style: none;
    font-size: .9em;
}

.alert-danger{
    background-color: darkred;
    color: white;
}

.alert-success{
    background-color: green;
    color: white;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.table{
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style:none;
}

.table::-webkit-scrollbar{
    display: none;
}

table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

th, td{
    height: 45px;
    border-bottom: 1px solid #acaaaa;
    text-align: left;
    padding: 5px;
    color: black;
}

td{ text-transform: capitalize ;}

tr:nth-child(even){background-color: #edbd65; color: black;}

th{background-color:#0a385f; color: white; height: 50px}

header{
    background: #0a385f;
    height: 85px;
    width: 100%;
    padding: 20px;
    color: white;
    position: fixed;
    top: 0px;
    z-index: 150;
}

 header p{
    margin: 0px;
}

header p img{
    width: 60px;
    float: left;
    margin-top: -10px;
    margin-right: 10px;
}

header .balance{
    text-align: center;
    margin-top: 5px;
}

aside{
    background: #03335f;
    width: 30%;
    position: fixed;
    height: calc(100% - 80px);
    top: 80px;
}

aside ul{
   list-style: none;
    padding: 0px;
}

aside ul li a{
    width: 100%;
    display: block;
    padding: 15px;
    color: white;
    transition: 500ms;
}

aside ul li a:hover{
    padding-left: 25px;
}

main{
    width: 70%;
    float: right;
    padding: 10px;
    padding-top: 90px;
}

.profile p{
    margin: 0px;
    padding: 20px 10px;
    border-bottom: 1px solid #edbd65;
}

.profile p:first-child{
    background: #edbd65;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}

.profile a{
    margin: 10px;
    padding: 15px;
    display: block;
    width: max-content;
    border-radius: 5px;
    background: #edbd65;
}

.profile.second p:first-child{
    background: #edbd65;
    border-radius: 0px;
}

.form{
    width: 90%;
    max-width: 300px;
    margin: auto;
}

.form h3{
    text-align: center;
}

.form input, .form select{
    display: block;
    width: 100%;
    padding: 15px;
    margin: 5px 0px;
    border: none;
    border-bottom: 1px solid black;
}

.form input, .form select:focus{
    outline: none;
}

.form button{
    display: block;
    padding: 10px 25px;
    margin: 20px auto;
    border-radius: 20px;
    border: 1px solid #edbd65;
    background: #edbd65;
    transition: 500ms;
}

.form button:hover{
    background: white;
    border: 1px solid #edbd65;
}

@media only screen and (max-width:700px){
    
     header .menu-btn{
        display: block;
        position: absolute;
        right: 5%;
        top: 16px;
        font-size: 1.9em;
    }
    
    header .menu-btn span{
        display: block;
        width: 32px;
        background-color: white;
        height: 4px;
        margin: 5px 0px;
        border-radius: 5px;
        transition:0.5s;
    }
    
    .showing{        
        left: 0px;
    }

    aside{
        width: 70%;
        left: -600px;
        transition: 500ms;
    }
    
    main{
        width: 100%;
        float: none;
    }
}