.footer{
    background: white;
    color: black;
    height: 400px;
    position: relative;
    font-family: 'lora', sans-serif;
}

.footer a{
    color: black;
}

.footer-content{
    height: 350px;
    display: flex;
}

.footer-section{
    flex: 1;
    padding: 25px;
}

.footer-section p{
    margin-bottom: 10px;   
}

.footer .footer-bottom{
    background: white;
    color: black;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    width: 100%;
    border-top: 1px solid black;
    margin-top: 10px;
}

.footer .footer-content h1,
.footer .footer-content h2{
    color: #012038;
}

.footer-contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
    color: gray;
    font-family: 'lora';
}

.footer-about .socials a{
    border: 1px solid gray;
    width: 45px;
    height: 35px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    font-size: 1.3em;
    border-radius: 5px;
    display: inline-block;
    transition: all 0.3s;
    color: white;
}

.footer-about .socials a:hover{
    color: white;
    font-size: 1.4em;
    transition: all 0.3s;
}

.footer-content .links ul a{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: all 0.3s;
    color: black;
    padding-left: 5px;
}

.footer-content .links ul a:hover{
    color: green;
    margin-left: 15px;
    transition: all 0.3s;
}

.contact-input{
    background-color: #040f2a;
    color: white;
    margin-bottom: 10px;
    line-height: .9rem;
    padding: 1rem;
    border: none;
}

.footer ::placeholder{
    color: white;
}

.contact-form .contact-input:focus{
    background: green; 
}

.contact-btn{
    font-size: 1.1em;
    font-family: 'lora', sans-serif;
    border-radius: 0px;
    background: #040f2a;
    border-radius: 5px;
    position: absolute;
}

.contact-btn:hover{
    background: green;
}

.footer h1{
    color: #040f2a;
    margin-bottom: 10px;
    margin-left: 0px;
}

#message-response{
    margin-bottom: 10px;
    font-size: 20px;
}

.under-footer{
    height: 30px;
}

@media only screen and (max-width:810px){
    .footer{
        height: auto;
        position: relative;
    }

    .footer .footer-content{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    
    .footer-content .contact-form{
        margin-bottom: 90px;
    }
    
    .contact-btn{
        display: block;
        width: 40%;
        border-radius: 5px;
        margin: 10px 0px;
        float: none;
    }
    
    .contact-input{
        width: 90%;
    }
 
}


 #facebook{
    background: #3B5998;
     transition: 500ms;
}

#twitter{
    background: #55ACEE;
    transition: 500ms;
}

#linkedin{
    background: #0077B5;
    transition: 500ms;
}

#whatsapp{
    background: #25D366;
    transition: 500ms;
}