.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.plan{
    padding: 20px;
    color: white;
}

.plan h2{
    color: black;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

.plan h3{
    text-transform: uppercase;
}

.plan h4{
    color: black;
    margin: auto;
    width: max-content;
    text-transform: uppercase;
}

.plan .container{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.plan .container .box{
    background-image: url(../img/plan/planbg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 310px;
    width: 90%;
    max-width: 280px;
    padding: 15px;
    border: 1px solid black;
    margin: 10px;
    cursor: pointer;
    transition: 1000ms;
}

.plan .container .box .up_content{
    color: black;
    transition: 1000ms;
    margin-top: -10px;
}

.plan .container .box .up_content *{
    margin: 10px;
    transition: 1000ms;
}

.plan .container .box h1{
    font-size: 1.1em;
}

.plan .container .box .down_content{
    margin-top: 100px;
    transition: 1000ms;
}


.plan .container .box:hover{
    background-image: url(../img/plan/planbg2.png);
    margin-top: 0px;
    transition: 1000ms;
}

.plan .container .box:hover .up_content{
    color: white;
    transition: 1000ms;
}

.plan .container .box:hover .down_content{
    color: black;
    transition: 1000ms;
}

@media only screen and (max-width: 850px){
    
    .plan{
        padding: 10px;
    }
    
    .plan .container{
        flex-direction: column;
    }
    
    .plan .container .box{
        margin: 10px auto;
    }
}


@media only screen and (max-width: 450px){

    .plan .container .box{
        max-width: 260px;
    }

    .plan .container .box .up_content{
        margin-top: 0px;
    }
}